<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heon9u.alarm_weather_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alarmweatherapp">

        <activity android:name=".Activity.MainActivity"
                    android:label="우산 챙겨주는 알람시계">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.SetAlarmActivity"
            android:label="알람 생성하기"></activity>

        <activity android:name=".Activity.AlarmActivity"></activity>

        <receiver android:name=".Activity.AlarmReceiver">
            <intent-filter>
                <action android:name="com.heon9u.alarm_weather_app.ALARM_START"/>
            </intent-filter>
        </receiver>

        <service android:name=".Activity.AlarmService"
            android:enabled="true"></service>

    </application>

</manifest>