<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heon9u.alarm_weather_app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.alarmWeather"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdMob_ID"/>

        <activity android:name=".Alarm.MainActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Alarm.AlarmSetActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".Alarm.RingtoneListActivity"
            android:theme="@style/NoActionBar"/>

        <activity android:name=".Alarm.AlarmManagerActivity"/>

        <activity android:name=".Alarm.AlarmOnActivity"
            android:theme="@style/NoActionBar"
            android:taskAffinity="com.heon9u.alarm_weather_app.AlarmOn"/>

        <activity android:name=".Location.LocationListView"
            android:label="내 주소"/>
        <activity android:name=".Location.JusoCreateActivity"
            android:label="주소 검색"
            android:parentActivityName=".Location.LocationListView"/>

        <receiver android:name=".Alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="com.heon9u.alarm_weather_app.ALARM_START"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".AnotherTools.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".Alarm.AlarmService"
            android:enabled="true"
            android:exported="true"></service>

    </application>
</manifest>